### IDE ###

#netbeans
nbproject/

# PHPStorm
.idea

# VisualStudioCode
.vscode

### Configuration ###

#jetbrains
.idea

# config.php
config/config.php
config/config.php.dev

### Dependencies ###

# composer vendor
vendor/
